# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.ar

# Executables
*.exe
*.out
*.app
*.i386
*.x86_64
main
analyzer

# Build directories
build/
bin/
dist/
target/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Log files
*.log
logs/

# Python (untuk script/plot.py)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp

# binary gen_log di root repo
gen_log
main_bug
main_final
*.log
build/